*{
    background-color:beige;
}


p {
    
    /* why there are so many font family added at same time */
    /* This is because when browser does support one fonts, then it will move to another and so on. */
    /* It is good practise to use multiple font family */
    /* fallback system condition */

    /* web safe font - pre existing in browser  */
    /* We can use google fonts - for additional fonts  */

    font-size: 20px;
    font-family: 'Alkatra', cursive;
    font-weight: 400;
    line-height: 35px;
    color: black;
}




#l20 {
    /* hex value of color  */
    background-color: #59e313;
    padding: 10px;
    margin: 10px;
}

.para1 {
    /* hex value color  with last two digit containing opacity or transperancy */
    background-color: #20405030;
    padding: 10px;
    margin: 10px;
}





#l40 {
    /* rgb value of color  */
    /* red, green, blue */
    background-color: rgb(0, 0, 200);
    padding: 10px;
    margin: 10px;
}


.para2{

    /* rbga value of color */
    /* a is alpha, used for transperancy */
    background-color:rgba(248, 13, 13, 0.9);
    padding: 10px;
    margin: 10px;
}






#l70 {
    /* hsl - hue, saturation, lightness */
    /* hsl color value  */
    background-color: hsl(310, 80%, 47%);
    padding: 10px;
    margin: 10px;
}


.para3{
    /* hsl color valuw with opacity  */
    background-color: hsla(104, 80%, 47%, 0.3);
    padding: 10px;
    margin: 10px;
    
}