
/* universal selector  */
*{
    background-color: aqua;
    margin: 2px;
    padding: 2px;
}



/* type selector  */
main{
    background-color: rgb(254, 254, 7);
    margin: 7px;
    padding: 7px;
    
}


h1{
    color:rgb(8, 8, 8);
    font-size: 34px;
    margin: 7px;
    padding: 7px;
}



/* id selector  */
#aa{
    text-align: center;
}




/* descendant selector */
/* selecting all the p tag inside the div */
div p {
    background-color: rgb(61, 254, 2);
    padding: 10px;
    margin: 10px;
}




/* class selector  */
.content-div{
    background-color: rgb(157, 73, 218);
    padding: 7px;
    margin: 7px;
}




/* 
  Some notes 

  01. Different types of length units
  --- pixels, percentages, viewport-percentage


  02. Attribut selector in details 
    a[type="text"] {
     color: green;
    }


*/